html body {
  background: #E3F2E6;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

/* table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
} */

form {
  display: flex;
  gap: 5px;
}

/* form td:last-child { */
form td:first-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}


/* Stylish Table */

.rummy-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.rummy-table thead tr {
  /* background-color: #009879; */
  /* background-color: #2C363F; */
  /* background-color: #abafb2; */
  background-color: #5B9279;
  color: #ffffff;
  text-align: left;
}

.rummy-table th,
.rummy-table td {
    padding: 12px 15px;
}

.rummy-table tbody tr {
  background-color: #F2F5EA;
}

.round-total {
  background-color: #D6DBD2 !important;
}

.total {
  /* background-color: #BBC7A4 !important; */
  background-color: #8FCB9B !important;
}

/* .rummy-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .rummy-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

/* .rummy-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.history-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.history-table thead tr {
  /* background-color: #009879; */
  /* background-color: #2C363F; */
  /* background-color: #abafb2; */
  background-color: #5B9279;
  color: #ffffff;
  text-align: left;
}

.history-table th,
.history-table td {
    padding: 12px 15px;
}

.history-table tbody tr {
  background-color: #F2F5EA;
}

.register-player-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.register-player thead tr {
  /* background-color: #009879; */
  /* background-color: #2C363F; */
  /* background-color: #abafb2; */
  background-color: #5B9279;
  color: #ffffff;
  text-align: left;
}

.register-player th,
.register-player td {
    padding: 12px 15px;
}

.register-player tbody tr {
  background-color: #F2F5EA;
}

.player-stats-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.player-stats-table thead tr {
  /* background-color: #009879; */
  /* background-color: #2C363F; */
  /* background-color: #abafb2; */
  background-color: #5B9279;
  color: #ffffff;
  text-align: left;
}

.player-stats-table th,
.player-stats-table td {
    padding: 12px 15px;
    min-width: 50px !important;
}

.player-stats-table tbody tr {
  background-color: #F2F5EA;
}
